h1 {
  font-family: 'BentonSans';
  color: #00165a;
}

h2 {
  font-family: "BentonSans";
  color: #00165a;
}

h3 {
  font-family: "BentonSans";
  color: #00165a;
}

h4 {
  font-family: "BentonSans";
  color: #00165a;
}

h5 {
  font-family: "BentonSans";
  color: #00165a;
}

h6 {
  font-family: "BentonSans";
  color: #00165a;
}

p {
  font-family: "BentonSans";
  color: #00165a;
}

button {
  font-family: "BentonSans";
}

div {
  font-family: "BentonSans"
}

.font-light {
  font-weight: 200;
}