@import "./navbar.scss";
@import "./tableContainer.scss";
@import "./fonts.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
}

.oc-navbar {
  max-height: 60px;
  max-width: 100vw;
  margin: auto;
}

.oc-navbar-logo {
  max-height: 60px;
}
