.logo {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
}

.search {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.navbar-image {
  height: 45px;
  border-radius: 50%;
}

.navbar-image-sm {
  height: 30px;
  border-radius: 50%;
}

#search-input.animate {
  max-width: 100%;
  border-bottom: black 1px solid;
}

#search-input {
  padding: 0px;
  border: none;
  border-bottom: black 0px solid;
  max-width: 0%;
  transition: 0.5s;
  overflow: hidden;
}

#search-input:focus {
  outline: none;
}

.search-icon {
  padding-left: 5px;
}
